body.light-background {
  background: #f5f7fa;
  overflow-x: hidden;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.blinking-cursor {
  animation: blink 1s step-start infinite;

  /* Reduz frequência da animação em mobile */
  @media (max-width: 768px) {
    animation: blink 2s step-start infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
